.mainText {
  position: relative;
  display: flex;
}

.mainText span {
  animation: drop 0.4s linear forwards;
}
.mainText span:nth-child(2) {
  animation-delay: 0.2s;
}

.mainText span:nth-child(3) {
  animation-delay: 0.4s;
}

.mainText span:nth-child(4) {
  animation-delay: 0.6s;
}

.mainText span:nth-child(5) {
  animation-delay: 0.8s;
}

.mainText span:nth-child(6) {
  animation-delay: 1s;
}

.mainText span:nth-child(7) {
  animation-delay: 1.2s;
}

.mainText span:nth-child(8) {
  animation-delay: 1.4s;
}

.mainText span:nth-child(9) {
  animation-delay: 1.6s;
}

.mainText span:nth-child(10) {
  animation-delay: 1.8s;
}

.mainText span:nth-child(11) {
  animation-delay: 2s;
}
.mainText span:nth-child(12) {
  animation-delay: 2.2s;
}
.mainText span:nth-child(13) {
  animation-delay: 2.4s;
}
.mainText span:nth-child(14) {
  animation-delay: 2.6s;
}
.mainText span:nth-child(15) {
  animation-delay: 2.8s;
}
.mainText span:nth-child(16) {
  animation-delay: 3s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

/* folder */
.folder {
  background: #016a8b;
  width: 130px;
  height: 90px;
  position: absolute;
  top: 70%;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.4;
  left: 50%;
  transform: translateX(-50%);
}

.folder:before {
  content: '';
  position: absolute;
  background-color: #0380a7;
  width: 130px;
  height: 90px;
  top: 10px;
  left: 0;
  border-radius: 5px;
  z-index: 99;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.folder:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 20px;
  top: -8px;
  left: 0;
  background: #016a8b;
  border-radius: 5px;
}

.file {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  transition: all 1s;
}

.folder .file:nth-child(1) {
  background-color: #e41515;
  z-index: 4;
  left: 10px;
}

.folder .file:nth-child(2) {
  background-color: #83c3a6;
  z-index: 3;
  left: 23px;
}

.folder .file:nth-child(3) {
  background-color: #f4ba44;
  z-index: 2;
  left: 36px;
}

.folder .file:nth-child(4) {
  background-color: #b405fa;
  z-index: 1;
  left: 50px;
}
.folder:hover:before {
  transform: rotateX(20deg);
}

.folder:hover .file:nth-child(1) {
  transform: translate(-150%, -130%);
}

.folder:hover .file:nth-child(2) {
  transform: translate(-50%, -130%);
}

.folder:hover .file:nth-child(3) {
  transform: translate(50%, -130%);
}

.folder:hover .file:nth-child(4) {
  transform: translate(150%, -130%);
}

.folder .file {
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.snippetsButton {
  background: #2e3537;
  padding: 0.75em 1.5em;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  display: grid;
  place-items: center;
  transition: 0.5s;
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
}

.snippetsButton:before,
.snippetsButton:after {
  content: '';
  position: absolute;
  background-color: #ff0000;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  border-radius: 12px;
}

.snippetsButton:hover {
  color: #ff0000;
  border-color: #ff0000;
  text-shadow: 0 0 5px #ff0000;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
  letter-spacing: 5px;
}

.snippetsButton:hover:before {
  animation: pulse 2s ease-out infinite;
}

.snippetsButton:hover:after {
  animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@media screen and (min-width: 1400px) {
  .folder {
    top: 75%;
    left: 12%;
  }
  .snippetsButton {
    left: 80%;
    bottom: 12%;
  }
}
