@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@utility content-auto {
  content-visibility: auto;
}

@layer utilities {
  .bg-robot {
    background-image: url('/images/robot-man.webp');
  }
  .bg-github {
    background-image: url('/images/github-mark.svg');
  }

  .bg-avata {
    background-image: url('/images/avata-1024.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-glow {
    text-shadow: 0 0 2px rgba(5, 137, 238, 0.8);
  }
}

@layer components {
  .card {
    @apply bg-yellow-200;
    @apply rounded-lg;
    @apply p-4;
    @apply shadow-xl;
  }
}

@layer base {
  h1 {
    font-size: 2.488rem; /* 약 40px */
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2.074rem; /* 약 33px */
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.728rem; /* 약 28px */
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 1.44rem; /* 약 23px */
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  h5 {
    font-size: 1.2rem; /* 약 19px */
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  h6 {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    margin-bottom: 0.5em;
  }
}

html {
  font-size: 16px;
}
html,
body {
  width: 100%;
  max-width: 100dvw;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.sticky-footer {
  @apply flex flex-col min-h-screen;
}
.grow-main {
  @apply flex-grow;
}

pre {
  padding: 2rem !important;
  border-radius: 1em;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.noto-sans-kr-400 {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
