@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-glow {
    text-shadow: 0 0 2px rgba(5, 137, 238, 0.8);
  }
}

@layer base {
  h1 {
    font-size: 2.488rem; /* 약 40px */
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2.074rem; /* 약 33px */
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.728rem; /* 약 28px */
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 1.44rem; /* 약 23px */
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  h5 {
    font-size: 1.2rem; /* 약 19px */
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  h6 {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    margin-bottom: 0.5em;
  }
}

html {
  font-size: 16px;
}
html,
body {
  width: 100%;
  max-width: 100dvw;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
