.chatClientContainer {
  background: url('/images/hills.webp');
  background-size: cover;
  background-position: center center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-height: calc(100% - 0px);
  min-height: calc(100% - 0px);
  padding-bottom: 200px;
}

.chatContainer {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  padding: 15px;
  position: absolute;
  top: 4rem;

  max-height: 50%;
  min-height: 50%;
  max-width: 90%;
  min-width: 90%;
  margin: 1rem auto 5rem;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  height: auto;
  margin: 0;
  opacity: 0.9;
}

.message {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 20px;
}

.message.left {
  padding: 10px;
  align-self: flex-start;
}

.message.right {
  align-self: flex-end;
  padding: 10px;
}

.logo {
  border-radius: 50%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 10px;
  top: -18px;
  width: 50px;
  height: 50px;
}

.message.right .logo {
  left: auto;
  right: 10px;
}

.message p {
  margin: 0;
}

.text_input {
  font-size: 1.5rem;
  position: sticky;
  bottom: 0px;
  left: 0;
  right: 0;
  top: auto;
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  opacity: 0.8 !important;
  color: #064770;
}

.footer {
  opacity: 0.7;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
  top: 98%;
  text-align: center;
  z-index: 999;
}

.pre {
  padding: 0.5rem !important; /* shiki의 기본 스타일을 덮어씌움 */
  overflow-wrap: break-word; /* word-wrap의 현대적 대안 */
  white-space: pre-wrap;
}
